## Computer Infrastructure Weekly Tasks Report
---

by Atacan Buyuktalas

## Week 1 - Create a Directory Structure

### Task:

- Using command line, create a directory named `data` at the root of my repository.
- Inside `data`, create two subdirectories named `timestamps` and ` weather`
---

### Steps taken:

- started the terminal via in GitHub Codespace. I was at main directory as '/workspaces/computer_infrastructure_assessment'.
- I proceeded with `mkdir data/` to create the directory. (`mkdir` is a command used for creating a folder/directory)
- Then, I changed my directory in order to create other two subdirectories using `cd data/`
- Lastly, I created two subdirectories using `mkdir timestamps/` and `mkdir weather/` 


Chronology of the commands;

``` bash
mkdir data/
cd data/
mkdir timestamps/
mkdir weather/
```

## Week 2 - Timestamps

### Task:

- Use `date` command to output the current date and time for ten times. 
- Collect these timestamps in the file named `now.txt` in `data/timestamps/` directory.

---

### Steps taken:

- I navigated myself to the target directory using change directory command `cd data/timestamps`
- I did sanity check first by promting the date and time info using `date`, then proceeded with `date >> now.txt` 
- I directed the output into the file called `now.txt` insted of displaying on the terminal by using `>>`
- since `now.txt` was not exist in the directory, it was created in order to store the output. 
- then I executed the same command 10 times. Since, the file was created during the initial execution, rest were appended (`>>`) in the file. 

Chronology of the commands;
``` bash
cd data/timestamps
date
date >> now.txt
...
date >> now.txt
```

## Week 3 - Formatting Timestamps

### Task:

- Use `date` command to output the current date and time for ten times using 'YYYYmmdd_HHMMSS' format. 
- Append the formatted output to a file name `formatted.txt`

---

### Steps taken:

- First, checked my command to see if the output was in the right format, `date +"%Y%m%d_%H%M%S"`
- once I was sure about the output accuracy, I proceeded with `date +"%Y%m%d_%H%M%S" >> formatted.txt`
- then I executed the same command 10 times. 
- Lastly, I check the file using `more formatted.txt` to ensure outputs were stored in the file.

Chronology of the commands;

```bash
date +"%Y%m%d_%H%M%S"
date +"%Y%m%d_%H%M%S" >> formatted.txt
...
date +"%Y%m%d_%H%M%S" >> formatted.txt
more formatted.txt
```

## Week 4 - Create Timestamped Files

### Task:

- Create a `.txt` file named the current timestamp using `touch` command 

---

### Steps taken:

- I navigated to the subdirectory `cd data/timestamps` 
- Executed the command `` touch `date +"%Y%m%d_%H%M%S"`.txt ``
- `touch` creates the file, `date +"%Y%m%d_%H%M%S"` outputs the curent date&time in specified format. 
- putting `date +"%Y%m%d_%H%M%S"` into `` ` `` backticks allows us to execute the date command in them. 
- hence, current date&time becomes the file name

Chronology of the commands;
``` bash
cd data/timestamps
touch `date +"%Y%m%d_%H%M%S"`.txt
```

## Week 5 - Download Today's Weather Data

### Task:

- Download the weather data from Met Eireann (https://prodapi.metweb.ie/observations/athenry/today) using `wget` along with the option `-0 <filename>`,
- Save the file as `weather.json` in to the `data/weather` directory

---

### Steps taken:

- change my directory to `data/weather/` 
- executed the command `wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today` 
- `-O` options is allows us to save the `wget` output as a file

Chronology of the commands;
```bash
cd data/weather/
wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today
```

## Week 6 - Timestamp the Data

### Task:

- Modify the command from Week 5 Task and save the weather data as `YYYYmmdd_HHMMSS.json` format

---

### Steps taken:

- change the directory to `data/weather/`
- execute the command as `` wget -O `date +"%Y%m%d_%H%M%S.json"`https://prodapi.metweb.ie/observations/athenry/today ``
- `` ` `` allows us to execute `date` command in `wget` command

Chronology of the commands;
```bash
cd data/weather/
wget -O `date +"%Y%m%d_%H%M%S.json"`https://prodapi.metweb.ie/observations/athenry/today
```

## Week 7 - Write the Script

### Task:

- Write a bash script called `weather.sh` in the root directory.
- The script should automate the process from Week 6 Task
- Saving the weather data to `data/weather/` 
- Make the script executable and test it by running it.

---

### Steps taken:

- started the creating the script file with `touch weather.sh`
- In `weather.sh` file, started with shebang command `#! bin/bash/` where we tell the system how to execute the command in the script.
- then added the command which is `` wget -O `date +"%Y%m%d_%H%M%S.json"`https://prodapi.metweb.ie/observations/athenry/today ``
- get back to the terminal, and did the sanity check with `ls -al` to see the script, its type and the file permissions.
- the script's permission was set to `-rw` which is not executable
- change the permission using `chmod u+x ./weather.sh` 
- did the sanity check again, everything looked great and executed it with `./weather.sh`

Chronology of the commands;
```bash
touch weather.sh
# wrote the script in the sh file
ls -al
chmod u+x weather.sh
./weather.sh
```

# Weather Analysis
---

In [3]:
# Data frames.
import pandas as pd

In [4]:
# Read the data
df = pd.read_json('data/weather/20241124_165131.json')

In [5]:
# Show the data
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,10,05n,Rain showers,"""Rain shower""",35,61,SW,225,90,0.40,976,Sunday,2024-11-24,00:00
1,Athenry,10,40n,Light rain showers,"""Recent Rain""",31,52,SW,225,79,0.20,977,Sunday,2024-11-24,01:00
2,Athenry,9,02n,Fair,"""Fair""",24,46,SW,225,75,0.00,977,Sunday,2024-11-24,02:00
3,Athenry,8,05n,Rain showers,"""Rain shower""",19,56,S,180,83,0.01,977,Sunday,2024-11-24,03:00
4,Athenry,8,04n,Cloudy,"""Cloudy""",19,-,S,180,81,0.10,977,Sunday,2024-11-24,04:00

In [7]:

df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17
mean,8.941176,25.294118,198.529412,81.294118,0.160588,977.647059,2024-11-24 00:00:00
min,7.000000,17.000000,180.000000,69.000000,0.000000,976.000000,2024-11-24 00:00:00
25%,8.000000,20.000000,180.000000,79.000000,0.010000,977.000000,2024-11-24 00:00:00
50%,9.000000,24.000000,180.000000,81.000000,0.100000,978.000000,2024-11-24 00:00:00
75%,10.000000,31.000000,225.000000,84.000000,0.200000,978.000000,2024-11-24 00:00:00
max,11.000000,35.000000,225.000000,90.000000,0.700000,979.000000,2024-11-24 00:00:00
std,1.197424,5.849837,22.828485,5.709255,0.189059,0.701888,NaN

---
# END